<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context    http://www.springframework.org/schema/context/spring-context-4.0.xsd   
	http://code.alibabatech.com/schema/dubbo         http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<!-- 提供方应用信息，用于计算依赖关系 -->
	<dubbo:application name="permission-provider" />
	
	 <!-- 使用redis中心暴露发现服务地址 没成功
    <dubbo:registry  address="redis://127.0.0.1:6379"  check="false"/>-->
    <!-- 使用multicast广播注册中心暴露发现服务地址-->
     <!-- <dubbo:registry address="multicast://224.5.6.7:1234?unicast=false" check="false" />-->
    <!-- 注册中心-->
    <dubbo:registry protocol="zookeeper" address="127.0.0.1:2181" check="false" />
	
	
	<!-- 用dubbo协议在20880端口暴露服务 -->
	<dubbo:protocol name="dubbo" port="20880" />

	<!-- mybatis 相关 -->
	<import resource="spring/applicationContext-mybatis.xml" />

	<!-- 使用注解方式暴露接口 -->
	<!-- <dubbo:annotation package="com.permission" /> -->

	<!-- 加入spring注解扫描 -->
	<context:component-scan base-package="com.permission" />

    <!-- 声明需要暴露的服务接口 -->
	<dubbo:service interface="com.permission.service.ICategoryManagerService"
		ref="categoryManagerService" protocol="dubbo" timeout="100000" retries="0" />
		
    <dubbo:service interface="com.permission.service.ILoginService"
		ref="loginService" protocol="dubbo" timeout="100000" retries="0" />
	
	<dubbo:service interface="com.permission.service.IModuleElementManagerService"
		ref="moduleElementManagerService" protocol="dubbo" timeout="100000" retries="0" />
		
	<dubbo:service interface="com.permission.service.IModuleManagerService"
		ref="moduleManagerService" protocol="dubbo" timeout="100000" retries="0" />	
		
    <dubbo:service interface="com.permission.service.IOrgManagerService"
		ref="orgManagerService" protocol="dubbo" timeout="100000" retries="0" />
		
	<dubbo:service interface="com.permission.service.IResourceManagerService"
		ref="resourceManagerService" protocol="dubbo" timeout="100000" retries="0" />
	
	<dubbo:service interface="com.permission.service.IRoleManagerService"
		ref="roleManagerService" protocol="dubbo" timeout="100000" retries="0" />
	
	<dubbo:service interface="com.permission.service.IStockManagerService"
		ref="stockManagerService" protocol="dubbo" timeout="100000" retries="0" />		
	
	<dubbo:service interface="com.permission.service.IUserManagerService"
		ref="userManagerService" protocol="dubbo" timeout="100000" retries="0" />		
</beans>